body {
  background-color: lightyellow;
}

.logo {
  margin-left: 2rem;
  margin-top: 1rem;
  height: 5rem;
  width: auto;
}

/* NAVBAR */
nav {
  margin-top: 1rem;
  background-color: #ef5713;
  display: flex;
  justify-content: center;
}

.navbar {
  padding: 0;
  width: 75%;
  display: flex;
  justify-content: space-around;
  background-color: #ef5713;
}

a {
  text-decoration: none;
  list-style: none;
  padding: 1vw;
  color: #16151b;
}

.navbar > a:hover {
  text-decoration: underline;
  color: #16151b;
  background-color: lightyellow;
  padding: 1vw;
}

/* CARD */

.card {
  width: auto;
  height: auto;
}
.card-img-top {
  width: auto;
  height: auto;
  
}

@media screen and (min-width : 991px) {

  .card {
    width: 15rem;
    height: 30rem;
  }
  
}

@media screen and (min-width : 1440px) {

  .card {
    width: 20rem;
    height: 28rem;
  }
  
}

@media screen and (min-width : 1700px) {

  .card {
    width: 25rem;
    height: 30rem;
  }
  
}

/* image size */
.img-article {
  margin: 1rem;
  width: 268px;
  height: 180px;
}

.even-content {
  margin: 1rem;;
}

h1 {
  margin: 2rem;
}